.post-write-div {
  width: 80%;
  margin: 0 auto;
}

.post-form {
  margin: 30px;
}

#title {
  font-size: 30px;
  font-weight: bold;
  border: none;
  text-transform: capitalize;
  width: 60%;
  border: rgba(128, 128, 128, 0.452) solid 0.1px;
  border-radius: 10px;
  padding: 20px;
}

#text-desc {
  font-size: 20px;
  border: none;
  width: 100%;
}
.text-desc {
  padding: 20px;
  border: rgba(128, 128, 128, 0.452) solid 0.01px;
  border-radius: 10px;
  width: 60%;
}

#title:focus {
  outline: none;
}

#text-desc:focus {
  outline: none;
}

#text-desc::placeholder {
  color: rgba(128, 128, 128, 0.452);
  font-size: 20px;
  text-transform: capitalize;
}

#title::placeholder {
  font-size: 30px;
  color: rgba(128, 128, 128, 0.171);
}

.form-group {
  margin: 20px auto;
}

.post-label {
  color: #000;
  font: 1em sans-serif;
  font-size: 20px;
}

#photo-input {
  width: 500px;
  display: none;
}

.upload-image {
  cursor: pointer;
  font-size: 30px;
}
.image {
  width: 60%;
  height: 500px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: rgba(128, 128, 128, 0.5) 0.3px 0.1px 5px 0.1px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.checkbox-label {
  color: #e6b619;
  padding: 5px 10px;
  font-size: 17px;
  background-color: '#f3f3f3';
}
#sport_id {
  font-size: 20px;
  width: 100px;
}
