:root {
  --primary-btn-color: #65cbc4;
  --primary-bg-color: #edf1f5;
}

.home {
  display: grid;
  grid-template-columns: 2fr 100px;
  grid-gap: 10px;
  margin-top: 20px;
  margin-left: 20px;
}

.post-div {
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.sidebar {
  position: fixed;
  right: 0;
  top: 75px;
  display: none;
  z-index: 1000;
}
