.post-bg {
  width: 350px;
  background-color: #fff;
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.1), 0 17px 50px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0 5px;
}

.post-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  background-size: cover;
}

img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.date {
  margin-top: -20px;
  padding: 10px;
  float: right;
  color: #e6b619;
}

h3 {
  font-size: 25px;
  line-height: 36px;
  color: #303133;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-left: 15px;
  letter-spacing: -0.5;
  text-transform: capitalize;
}

p {
  margin-left: 15px;
  font-size: 16px;
  color: #777;
  line-height: 1.8em;
}
hr {
  color: rgba(119, 119, 119, 0.555);
}

.reacts {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin-right: 20px;
}

.reacts i {
  padding: 2px;
  color: #88c4ff;
}
span {
  font-size: 16px;
  color: #777;
  line-height: 1.8em;
  margin-top: 4px;
  margin-left: 10px;
}

.icons {
  font-size: 20px;
}
